/* FONTS embebed

font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

body {
	font-family: 'Open Sans', sans-serif;
}

ul{
	list-style-type: none;	
}

.contenedor {
	margin: auto;
	max-width: 960px;
	overflow: auto;
}

.centrar {
	display: flex;	
	justify-content: center;
	align-items: center;
}

.titulo {
	text-align: center;	
}

.titulo h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 50px; 
	text-transform: uppercase;
	color: #465362;
	margin: 0px;
	padding: 20px 0;
}


.principio {
	background-image: url("../images/bg-header.jpg");
	background-repeat: no-repeat;
}

.blacktr{
	background: rgba(0, 0, 0, 0.5);
}

.logo {
	float: left;
}

.logo img{
	max-width: 60%;
}

.accesos {
	float: right;	
}

.accesos a {
	text-decoration: none;
	color: white;
	transition: 1s;
}

.accesos a:hover {
	color: #f9dc5c;
}

.menu {
	display: flex;
	justify-content: center;
	list-style: none;
}

.menu li {
	padding: 10px;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}

.main {
	padding: 70px 0px;	
	display: flex;
	justify-content: flex-start;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 70px; 
	color: white;	
	text-shadow: 3px 3px 2px black;
}

.txt-ppal {
	max-width: 50%;
	padding-right: 50px;

}

/* Sección SERVICIOS */

.servicios {
	text-align: center;
	font-size: 13px;
    line-height: 22px;
	display: flex;
	flex-direction: row;
}

.servicios h4 {
	font-size: 28px;
	letter-spacing: -1px;
}

.servicio01 {
	background: #fdbc3c;
	flex-direction: column;
	flex: 1;
	padding: 10px 20px;
}

.servicio02 {
	background: #f9dc5c;
	flex-direction: column;
	flex: 1;
	padding: 10px 20px;
}

.servicio03 {
	background: #f4fffd;
	flex-direction: column;
	flex: 1;
	padding: 10px 20px;
}

.icono{
	font-size: 100px;
	color: black;
}

/* Sección SOBRE NOS*/

.sobrenos {
	text-align: center;
	font-size: 13px;
    line-height: 22px;
	display: flex;
	flex-direction: row;
}

/*.sobrenos-foto01 {
	background-image: url("../images/snos01.png");
	overflow: auto;
	flex: 1;
}*/

.sobrenos-foto {
	flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}	

.sobrenos-txt {
	flex-direction: column;
	flex-grow: 2;
	padding: 0;
	text-align: left;
	font-size: 15px;	
}

.sobrenos-txt ul li{
	padding-bottom: 10px;
}

.sobrenos span {
	font-size: 30px;
	color: #fdbc3c;
}

/* Sección METODOLOGIA*/

.foto-section {
	background-image: url("../images/bg-metodologia.jpg");
	background-repeat: no-repeat;
}

.foto-section h2 {
	color: white;
	padding-top: 10px;
}

.metodologia {
	text-align: center;
	font-size: 13px;
    line-height: 22px;
	display: flex;
	flex-direction: row;
}

.metodologia div {
	flex-direction: column;
	padding: 0;
	text-align: left;
	color: white;
	font-size: 15px;	
}

.metodologia span {
	font-size: 20px;
	color: #fdbc3c;
	padding-right: 5px;
}

/* Sección CONTATO*/

.foto-section {
	background-image: url("../images/bg-metodologia.jpg");
	background-repeat: no-repeat;
}

.contato {
	text-align: center;
	font-size: 15px;
    line-height: 22px;
	display: flex;
	flex-direction: row;
}

.contato ul li{
	padding-bottom: 10px;
	text-align: left;
}
.contato span {
	font-size: 20px;
	color: #fdbc3c;
	padding-right: 5px;
}

form {
	display: flex;
	flex-direction: column;
}

.contato article {
	flex: 1;
}

